.card-skill-full{
    max-width: 900px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    box-shadow: 9px 2px 44px 0 rgba(0, 0, 0, 0.36);
}

@media (max-width: 768px) {
    .card-skill-full {
      flex-direction: column;
      padding: 10px;
    }}

.div-skill-right{
    padding: 20px;
    width: 50%;
}
.div-skill-right img{
    width: 100%;
    margin-bottom: 20px;
}
h3{
    font-family: "Nunito Sans", sans-serif; 
    border-bottom: 3px solid #0d6efd;
    margin-bottom: 20px;
    padding: 10px 0;
}

.div-skill-left{
    padding: 20px;
    width: 50%;
}