.bg-footer{
    background-color: #212529;
    padding: 30px ;
}
.div-global{
    max-width: 800px;
    width: 100%;
    margin: auto;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;

}

.div-footer-1{
    width: 30%;
}
.div-footer-1 a{
    color: #fff;
    text-decoration: none;
}
.div-footer-1 p{
   margin: 0;
}

.div-footer-2{
    width: 30%;
}
.div-footer-2 a{
    color: #fff;
    text-decoration: none;
}
.div-footer-2 p{
   margin: 0;
}

